.background{
  background: url("ARISE_COVER.png");
  width:100%;
  height:100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:scroll;
}
.background2{
  background: url("ARISE_BG2.png");
  width:100%;
  height:100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:scroll;
}



@media(max-width: 991px){
  .sidebar{
      background-color: rgba(56, 47, 47, 0.15) !important;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
     
  }
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
      color: #d8d8d8 !important;

      
  }
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.header{
  padding:1%;
  background-color: #737373;
  border-radius: 12px;
  width:80%;
  top:50px;
  position: relative;

}
h1{
  text-align: center;

}

.headerBackground{
  background-image: url(ARISE_COVER.png);
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  border-radius: 12px;


}
.mainSectionWrap{
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
  font-size: .7em;

}

ion-icon {
  margin-right: 4px;
}


.nav .active{
  background: rgb(53, 53, 53) !important;
  color:rgb(255, 255, 255) !important;
}


section{
  margin-top: -1%;
  background-image:url("ARISE_BG.png");
  justify-content:center;
  align-items: center;
  height: 55vh;
  color:white;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.reveal{
  position:relative;
  transform:translateX(-100%);
  filter:blur(5px);
  opacity:0;
  transition:all 1.5s ease;
}

.reveal.active{
  transform: translateX(0);
  filter: blur(0);
  opacity:1;
}

.reveal2{
  position:relative;
  transform:translateX(100%);
  filter:blur(5px);
  opacity:0;
  transition:all 1.5s ease;
}

.reveal2.active{
  transform: translateX(0);
  filter: blur(0);
  opacity:1;
}


.homeSection{

  background: rgba(220, 220, 255);
  color:black;
  text-indent:10px;
  border-radius: 12px;
  word-break: normal;
  padding:2%;
  width: 60%;
  display: inline-block;
  margin: auto;
  position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
}