.background{
  background: url("/Pictures/ARISE_COVER.png");
  width:100%;
  height:100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:scroll;
}
.background2{
  background: url("/Pictures/ARISE_BG2.png");
  width:100%;
  height:100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:scroll;
}



@media(max-width: 991px){
  .sidebar{
      background-color: rgba(56, 47, 47, 0.15) !important;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
     
  }
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
      color: #d8d8d8 !important;

      
  }
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
 
}
.header{
  padding:1%;
  background-color: #737373;
  border-radius: 12px;
  width:80%;
  top:50px;
  position: relative;

}
h1{
  text-align: center;

}

.headerBackground{
  background-image: url("/Pictures/ARISE_BG2.png");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  border-radius: 12px;


}
.mainSectionWrap{
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
  font-size: .7em;

}

ion-icon {
  margin-right: 4px;
}


.nav .active{
  background: rgb(53, 53, 53) !important;
  color:rgb(255, 255, 255) !important;
}


section{
  margin-top: -1%;
  background-image:url("/Pictures/ARISE_BG.png");
  justify-content:center;
  align-items: center;
  height: 80vh;
  color:white;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin-bottom: -5px;
  display: block;
}

.reveal{
  position:relative;
  transform:translateX(-100%);
  filter:blur(5px);
  opacity:0;
  transition:all 1.5s ease;
}

.reveal.active{
  transform: translateX(0);
  filter: blur(0);
  opacity:1;
}

.reveal2{
  position:relative;
  transform:translateX(100%);
  filter:blur(5px);
  opacity:0;
  transition:all 1.5s ease;
}

.reveal2.active{
  transform: translateX(0);
  filter: blur(0);
  opacity:1;
}


.homeSection{

  background: rgba(220, 220, 255);
  color:black;
  text-indent:10px;
  border-radius: 12px;
  word-break: normal;
  padding:2%;
  width: 65%;
  display: block;
  margin: auto;
  position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  h1{
    font-size: 3em;
  }
  p{
    font-size:large;
  }
  @media(max-width: 991px){
    p{
      font-size:small;
    } 
    section{
      margin-top: -1%;
      background-image:url("/Pictures/ARISE_BG.png");
      justify-content:center;
      align-items: center;
      height: 100vh;
      color:white;
      background-position:center;
      background-repeat:no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      margin-bottom: -5px;
      display: block;
   
      
    }
  }

  .sm-icons{
    display: flex;
    flex-direction: row;
  }

  .sm-icons .nav-link{
    padding-right: 1em;
  }

  .nav-link:hover{
    transform: scale(1.2);
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
  
    
  }
  .memberRegistration{
    background:rgb(0, 1, 69,.3);
    
    border-radius: 12px;
    color:white;
    padding:1%;
    z-index: 1;
    width:50%;
   display:grid;
   place-items: center;
   margin:auto;
   
  }
.divider{
  background-color: transparent;
  height:100px;
}

#passwordHelpBlock{
  color:white;
}